#form {
    margin-left: auto;
    margin-right: auto;
}
.container-fluid {
    background-color: hsl(210, 36%, 96%)
}
img {
    border-radius: 50%;
    height: 16rem;
    margin-top: 1rem;
}
.card-body-allbody {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title {
    float: right;
}
.following {
    display: flex;
    justify-content: space-around;
}
li {
    list-style-type: none;
}
#repos {
    padding: 3px 3px;
    background-color: black;
    margin: 0.3rem 0;
    color: white;
}
#userRepos {
    display: flex;
}