<div class="container-fluid bg-dark text-white mt-2">
    <div class="row">
        <div class="col-md-12 userdata" *ngIf="isFetching">
            <ul *ngFor="let user of userData">
                <div class="contaner-data">
                    <div class="image">
                        <img src="{{user.avatar_url}}" alt="">
                    </div>
                </div> 
                <div class="followers">
                    <div class="following name">
                        {{user.name | uppercase}} <br /> <br />
                    </div>
                    <div class="following">
                        {{user.bio}} <br /> <br />
                    </div>
                    <div class="following">
                        <div>followers: <i>{{user.followers}}</i></div>
                        <div>following: <i>{{user.following}}</i></div>
                        <div>public_repos: <i>{{user.public_repos}}</i></div>
                    
                    </div>
                    <h4 class="following mt-3 text-center text-success" style="font-weight: bold;" >MY REPOSITORIES</h4>
                    <div class="repos">
                        <ul *ngFor = "let repos of myRepoData" style="display: inline-block;">
                            <a href="{{repos.clone_url}}" id="repos" style="text-decoration: none;">{{repos.name}}</a> <br />
                         </ul>
                    </div>
                    
                </div>
            </ul>
            
            <!-- {{myRepoData}} -->
        </div>
    </div>
    <div class="col-md-3" *ngIf="!isFetching && !error">
        <div class="spinner-border mt-3" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="error">
        <h1>Error Occured</h1>
        <p>{{error}}</p>
    </div>
</div>
<app-users></app-users>
<app-repositories></app-repositories>