nav {
  font-family: sans-serif;
}

img {
  height: 2.5rem;
  background-color: white;
  border-radius: 50%;
  margin: 0 0.5rem;
}
::placeholder {
    font-style: italic;
    color: rgb(48, 48, 248) ;
    font-weight: bold;
}
a {
  font-size: 1.3rem;
  color: rgb(48, 48, 248) !important;
}
