<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand"><img src="./../../assets/github-removebg-preview.png" alt=""><b>GITHUB-API</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <form class="form-inline">
                <input class="form-control bg-transparent text-white" type="text" placeholder="Search User">
                <!-- <button class="btn btn-secondary">login</button> -->
              </form>
            <a routerLink="users" routerLinkActive="active" class="nav-item nav-link">Users</a>
            <a routerLink="repos" routerLinkActive="active" class="nav-item nav-link">Repositories</a>
        </div>
    </div>
</nav>
